/* ----------------
     Utility design 
---------------------- */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* -----------------------
     heading design 
---------------------- */

.container {
    color: #FFFFFF;
    background-color: #161616;
    width: 1321px;
    height: 646px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 25px;
}

.heading-part {
    width: 70%;
    padding: 30px 20px 80px 80px;
}

.heading {
    font-size: 50px;
    font-weight: 700;
}


/* ------------ simple css3 animation --------------- */

.side-photo:hover img {
    transform: scale(.75) rotate(-35deg);
    transition: transform 2s ease-in-out;
}


/*----- end css3 animation ------ */

.link {
    color: white;
    font-size: 20px;
    background-color: tomato;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.side-photo {
    width: 80%;
    margin: 35px 33px 0px 24px;
}

.side-photo img {
    width: 581px;
    height: 613px;
}


/* --------------------
   **************************
       main part design 
       *************************
---------------------- */

main {
    margin-top: 150px;
    display: flex;
    margin-bottom: 130px;
    margin-left: 20px;
}


/* ---------- -------------------
    left part or navbar design 
--------------------------------*/

.left-section {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    padding: 30px;
}

.nav-bar {
    padding: 10px 40px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin: 50px 0;
}

.nav-bar a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.special-navbar {
    text-align: center;
    background-color: #DD0000;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 20px 0;
}

.special-navbar a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}


/*---------------- -----------

       right part-01 or upcoming match
               part design
               
-------------------------------- */

.upcoming-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.matchs {
    width: 230px;
    height: 180px;
    text-align: center;
    padding: 53px 30px;
    margin-left: 10px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.flags {
    display: flex;
}

.flags img {
    width: 60%;
}

.flags h5 {
    width: 20%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.blog-heading {
    font-size: 20px;
    font-weight: 600;
}


/*---------------- -----------
     **************************************
       right part-02  or blog part design
         ************************************
-------------------------------- */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 10px;
}

.blog {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 5px 5px 10px gray;
}

.blog img {
    width: 100%;
}

.blog .transfer-button {
    width: 100px;
    height: 32px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding-top: 5px;
    margin-top: 20px;
}

.blog .transfer-button a {
    color: #161616;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.font-padding {
    padding-left: 20px;
}

.awesome-spacing {
    padding-left: 30px;
    padding-right: 20px;
}

.fa-clock,
.fa-comment-dots {
    margin-right: 10px;
}


/* <!-------------------------------
  **********************
         footer part design 
         *************************
------------------------------ --> */

.footer {
    width: 1085px;
    height: 150px;
    color: #FFFFFF;
    text-align: center;
    background-color: black;
    padding: 130px;
}

.footer-header {
    font-size: 40px;
    font-weight: 600;
}

.footer-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 16px;
    margin-bottom: 50px;
}

.fa-brands {
    margin-right: 30px;
    margin-left: 30px;
}

.social-media a {
    text-decoration: none;
    color: aqua;
    font-size: 30px;
}


/*---------------- ------------
      ********************
         responsive design part
         ************************** 
---------------------------------*/


/*---------------- ------------
         mobile view responsive
---------------------------------*/

@media only screen and (max-width:688px) {
    /* ----------- header responsive ------------ */
    .container,
    .heading-part {
        width: 90%;
        height: auto;
        flex-direction: column;
        margin: 0;
        padding-right: 40px;
        border-radius: 10px;
        text-align: center;
    }
    .container .side-photo img {
        width: 75%;
        padding-left: 20px;
    }
    /*---------- main part responsive -----------*/
    main {
        flex-direction: column;
        align-items: center;
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }
    .view-all-button {
        display: none;
    }
    /* ----------- footer part responsive --------------- */
    .footer {
        width: 32%;
        height: auto;
    }
    .footer-items {
        grid-template-columns: repeat(1, 1fr);
    }
    .social-media {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


/*---------------- ------------
   ****************
        tablet view responsive 
        ****************************
---------------------------------*/

@media only screen and (min-width:689px) and (max-width:992px) {
    /* ----------- header responsive ------------ */
    .container,
    .heading-part {
        width: 160%;
        height: auto;
        margin: 0;
        padding-right: 50px;
        border-radius: 10px;
    }
    .container .side-photo img {
        width: 100%;
        padding-left: 20px;
    }
    /*---------- main part responsive -----------*/
    main {
        width: 160%;
        flex-direction: column;
        align-items: center;
    }
    /*---------- navigation part -------------- */
    .left-section {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 312px;
        background-color: #161616;
        border-radius: 10px;
        padding: 30px;
        gap: 10px;
    }
    .nav-bar {
        width: 30%;
        padding: 40px 10px;
        border-radius: 10px;
        text-align: center;
        background-color: white;
        margin: 100px 0;
    }
    .special-navbar {
        width: 30%;
        text-align: center;
        background-color: #DD0000;
        padding: 40px 10px;
        border-radius: 10px;
        margin: 100px 0;
    }
    /* ------------------ blog parts ---------------------- */
    .blogs {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
        align-items: center;
    }
    .blog {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        border-radius: 10px;
        border: 3px solid white;
        box-shadow: 5px 5px 10px gray;
    }
    .view-all-button {
        width: 100%;
        text-align: center;
        background-color: #DD0000;
        padding: 10px 40px;
        border-radius: 10px;
        margin: 20px 100px;
    }
    .view-all-button a {
        color: #FFFFFF;
        font-size: 20px;
        text-decoration: none;
    }
    /* ---------------- footer part ------------------ */
    .footer {
        width: 130%;
        height: auto;
    }
    .footer-items {
        grid-template-columns: repeat(4, 1fr);
    }
    .social-media {
        padding-bottom: 50px;
    }
    .fa-brands {
        margin-right: 30px;
        margin-left: 30px;
    }
}


/*------------------- 
       large devices responsive
 -------------------- */

@media screen and (min-width:993px) {
    .blogs .view-all-button {
        display: none;
    }
}